{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        {% if form.instance.pk %}

            <h1>Edit Company Details</h1>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-warning" value="EDIT">
            </form>
        {% else %}
            <h1>Add New Company</h1>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="ADD">
            </form>
        {% endif %}
        
    </div>
</div>
{% endblock %}